PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/kayro_db?retryWrites=true&w=majority
JWT_USER_SECRET=your_jwt_user_access_secret_key_change_me_in_production
JWT_ADMIN_SECRET=your_jwt_admin_access_secret_key_change_me_in_production
JWT_USER_REFRESH_SECRET=your_jwt_user_refresh_secret_key_change_me_in_production
JWT_ADMIN_REFRESH_SECRET=your_jwt_admin_refresh_secret_key_change_me_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
HUBSPOT_ACCESS_TOKEN=your_hubspot_private_app_access_token
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
